.topSection {
    height: 100%;
    background-color: #163A24;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

h1 {
    font-size: 43px;
    font-family: "Recoleta-SemiBold", Georgia, serif;
    font-weight: bold;
    color: white;
}

.slogan {
    color: white;
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 19px;

}

.note {
    color: white;
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 14px;
}

.searchBar {
    width: 45%;
    height: 25px;
    font-size: 15px;
}

.searchButton {
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    background-color: #198C36;
    border: none;
    border-radius: 5px;
    font-family: "Tahoma", Geneva, sans-serif;
    font-weight: normal;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #15762e;
}

body {
    margin: 0;
    background-color: #FBFAF7;
}

.box {
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    top: 25px;
    width: 70%;
    bottom: 30%;
    margin: 0 auto;
}

.boxLeft {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px #e9e4d5;
    position: absolute;
    background: #FBFAF7;
    right: 63%;
    width: 40%;
}

.boxRight {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px #e9e4d5;
    position: absolute;
    background: #FBFAF7;
    left: 40%;   
    width: 63%;
}

.titleLeft, .titleRight {
    margin-top: -15px;
    margin-bottom: -10px;
    font-size: 18px;
    font-family: "Recoleta-SemiBold", Georgia, serif;
    font-weight: bold;

}

.placeholderLeft, .placeholderRight {
    padding-bottom: 7px;
    border-bottom: 1px solid lightgray;
}

.scrollLeft, .scrollRight {
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
}

.listElement:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dishInfoTitle {
    font-size: 19px;
}

.dishPicture {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 5px;
    width: 75%;
    height: auto;
}

.link {
    padding-bottom: 10px;
}

.footer {
    color: black;
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 13px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

.mark {
    background: none;
    color: gray;
}